@media only screen and (max-width: 376px) {
  body {
    background-color: var(--Very-dark-blue-main-background);
    margin: 0 0;
  }

  main {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    margin-block: 9em;
    margin-inline: 2.3em;
    border-radius: 1.5em;
  }
  article {
    text-align: center;

  }
  header {
    padding-block-start: 4em;
    padding-inline: 3.7em;
  }
  .banner {
    position: relative;
    block-size: 25rem;

  }

  .banner > img {
    block-size: 100%;
    inline-size: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

  }

  .overlay-background {
    background-color: var(--Soft-violet-accent);
    position: absolute;
    opacity: 0.5;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    inset-inline: 0;
    inset-block: 0;
  }
  h1,
  h2,
  h1 > * {
    color: var(--Slightly-transparent-white-headings);
    font-size: 2.7rem;
    padding-bottom: 2.9rem;
  }

  h1 > strong {
    color: var(--Soft-violet-accent);
  }

  header > p,
  header > p > * {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--Slightly-transparent-white-paragraph);
    padding-block-end: 5rem;
  }

  section {
    line-height: 2.5rem;
    display: block;
    inline-size: 10rem;
    margin-inline: auto;
  }

  .results {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--Slightly-transparent-white-paragraph);
  }

 
}
