@import './desktop.css';
@import "./mobile.css";

* {
  --Slightly-transparent-white-headings: #fdffff;
  --Slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --Very-dark-blue-main-background: #0a0c1b;
  --main-background: #1c1938;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  margin-block: 0;
  margin-inline: 0;
}



@media screen and (min-width: 376px) and (max-width: 699px) {
  body {
    background-color: var(--Very-dark-blue-main-background);
  }

  main {
    background-color: var(--main-background);
    display: flex;
    inline-size: 80%;
    margin-inline: 10%;
    margin-block: 30%;
  }
  header {
    padding-block-start: 4em;
    padding-inline: 3.7em;
  }
  .banner {
    display: none;
  }

  article {
    flex-shrink: 1.5;
  }

  h1,
  h1 > * {
    color: var(--Slightly-transparent-white-headings);
    font-size: 2.7rem;
    padding-bottom: 2.9rem;
  }

  h1 > strong {
    color: var(--Soft-violet-accent);
  }

  p,
  p > * {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--Slightly-transparent-white-paragraph);
    padding-block-end: 5rem;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  section > h2 {
    color: var(--Slightly-transparent-white-headings);
    line-height: 2.5rem;
    inline-size: 8rem;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 2.9rem;
  }

  .results {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--Slightly-transparent-white-paragraph);
  }
}

